{% extends "base.html" %}

{% block content %}

<section class="page">

<h1>Admin Dashboard</h1>

<h2>Applicants</h2>

<table style="width:100%; margin-top:20px; border-collapse:collapse">

<tr style="background:#eee">
<th>Name</th>
<th>Email</th>
<th>Phone</th>
<th>Resume</th>
</tr>

{% for c in candidates %}

<tr>
<td>{{ c.name }}</td>
<td>{{ c.email }}</td>
<td>{{ c.phone }}</td>
<td>
<a href="/uploads/{{ c.resume }}" target="_blank">View Resume</a>
</td>
</tr>

{% endfor %}

</table>


<h2 style="margin-top:40px">Add Job Posting</h2>

<form method="POST" action="/add-job">

<input name="title" placeholder="Job Title" required>

<input name="location" placeholder="Location" required>

<input name="type" placeholder="Job Type" required>

<button class="btn-primary">Add Job</button>

</form>

</section>

{% endblock %}