{% extends "base.html" %}

{% block content %}

<div class="page">

<h2>Apply for Job</h2>

<form method="POST" enctype="multipart/form-data">

<label>Name</label><br>
<input type="text" name="name" placeholder="Your Name" required><br><br>

<label>Email</label><br>
<input type="email" name="email" placeholder="Your Email" required><br><br>

<label>Phone</label><br>
<input type="text" name="phone" placeholder="Your Phone Number" required><br><br>

<label>Education</label><br>
<input type="text" name="education" placeholder="Your Education" required><br><br>

<label>Experience</label><br>
<input type="text" name="experience" placeholder="Your Experience" required><br><br>

<label>About Yourself</label><br>
<textarea name="about" placeholder="Tell us about yourself" required></textarea><br><br>

<label>Upload Resume</label><br>
<input type="file" name="resume" required><br><br>

<button class="btn-primary">Submit Application</button>

</form>

</div>

{% endblock %}