{% extends "base.html" %}

{% block content %}

<section class="page">

<h1>Contact Us</h1>

<div class="contact-box">

<p><strong>Phone:</strong> +91 9421297427</p>

<p><strong>Email:</strong> knotwork@zohomail.in</p>

<p>
<strong>LinkedIn</strong><br>
<a href="https://www.linkedin.com/company/knotwork-business-solution/" target="_blank">
Knotwork Business Solution
</a>
</p>

<p>
<strong>Instagram</strong><br>
<a href="https://www.instagram.com/knotwork_biz" target="_blank">
@knotwork_biz
</a>
</p>

</div>

<blockquote>
“Connecting businesses with the right talent.”
</blockquote>

</section>

{% endblock %}